License.txt
agent/
bin/
contexts/
etc/
install.txt
lib/
patches/
server.xml
start
start.jar
stop
LICENSES/
webroot/ExtensionProviderProxy.cfc	
webroot/SampleComponent.cfc
webroot/functions.cfm
webroot/index.cfm
webroot/cachetest01.cfm
webroot/reload.cfm
webroot/extension
webroot/verify.cfm
webroot/WEB-INF/